torch
torchvision
torchaudio

ctranslate2
huggingface_hub
tokenizers
av
tqdm

librosa
pyloudnorm
requests
torchmetrics

onnxruntime-gpu

opensmile
praat-parselmouth

opencv-python
piq
mediapipe
scenedetect

openai
sentence-transformers